Repository ChampBVT/my-atm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --check

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --max-warnings=0", "prettier --check"],
  "*.{json,md,html,yml,yaml,css}": ["prettier --check"]
}

feat: strict node engine check
  .npmrc
  apps/frontend/.eslintrc.json
  package.json
Due: prettier --check

feat: Frontend service
  .gitignore
  .vscode/settings.json
  apps/backend/src/main.ts
  apps/frontend/.eslintignore
  apps/frontend/.eslintrc.json
  apps/frontend/.prettierignore
  apps/frontend/package.json
  apps/frontend/public/assets/lotties/github.lottie
  apps/frontend/public/assets/lotties/graphql.lottie
  apps/frontend/public/assets/lotties/stats.lottie
  apps/frontend/public/assets/lotties/testing.lottie
  apps/frontend/public/assets/lotties/withdraw-success.lottie
  apps/frontend/public/assets/lotties/withdraw.lottie
  apps/frontend/src/app/globals.css
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/app/utils/formatApolloError.ts
  apps/frontend/src/app/wrapper.tsx
  apps/frontend/src/components/CardButton.tsx
  apps/frontend/src/components/WelcomeModal.tsx
  apps/frontend/src/components/WithdrawModal.tsx
  apps/frontend/src/components/ui-kits/Button.tsx
  apps/frontend/src/components/ui-kits/Input.tsx
  apps/frontend/src/components/ui-kits/InputPin.tsx
  apps/frontend/src/components/ui-kits/Modal.tsx
  apps/frontend/src/contexts/AccountContext.tsx
  apps/frontend/src/hooks/useInquiryAccount.tsx
  apps/frontend/src/hooks/useModal.tsx
  apps/frontend/src/hooks/useWithdraw.tsx
  apps/frontend/src/interfaces/Account.ts
  apps/frontend/src/interfaces/UserError.ts
  apps/frontend/src/interfaces/WithdrawSuccess.ts
  apps/frontend/src/services/apolloWrapper.tsx
  apps/frontend/src/services/mutations/withdraw.tsx
  apps/frontend/src/services/queries/inquiryAccount.tsx
  apps/frontend/tailwind.config.ts
  pnpm-lock.yaml
Due: eslint --max-warnings=0, prettier --check

feat: BE new witdrawal logic & unit test & e2e test
  apps/backend/.eslintrc.js
  apps/backend/datasource.ts
  apps/backend/jest.common.config.js
  apps/backend/jest.e2e.config.js
  apps/backend/jest.setup.js
  apps/backend/jest.unit.config.js
  apps/backend/package.json
  apps/backend/schema.gql
  apps/backend/seeds/account.seeder.ts
  apps/backend/seeds/storage.seeder.ts
  apps/backend/src/account/account.service.spec.ts
  apps/backend/src/account/account.service.ts
  apps/backend/src/account/model/account-payload.union.ts
  apps/backend/src/account/model/account.model.ts
  apps/backend/src/app.config.ts
  apps/backend/src/common/external/screencloud/screencloud.service.spec.ts
  apps/backend/src/common/test/mocker.ts
  apps/backend/src/inquiry/inquiry.resolver.ts
  apps/backend/src/main.ts
  apps/backend/src/storage/storage.module.ts
  apps/backend/src/storage/storage.repository.ts
  apps/backend/src/storage/storage.service.spec.ts
  apps/backend/src/storage/storage.service.ts
  apps/backend/src/withdrawal/withdrawal.service.spec.ts
  apps/backend/src/withdrawal/withdrawal.service.ts
  apps/backend/test/account.e2e-spec.ts
  apps/backend/test/app.e2e-spec.ts
  apps/backend/test/jest-e2e.json
  apps/backend/test/util/app-e2e.util.ts
  apps/backend/test/withdraw.e2e-spec.ts
  apps/backend/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: eslint --max-warnings=0, prettier --check

feat: Frontend test
  .vscode/settings.json
  apps/backend/jest.common.config.js
  apps/frontend/jest.config.ts
  apps/frontend/jest.setup.ts
  apps/frontend/package.json
  apps/frontend/src/app/page.test.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/WelcomeModal.test.tsx
  apps/frontend/src/components/WelcomeModal.tsx
  apps/frontend/src/components/WithdrawModal.test.tsx
  apps/frontend/src/components/WithdrawModal.tsx
  apps/frontend/src/components/ui-kits/Button.test.tsx
  apps/frontend/src/components/ui-kits/Input.test.tsx
  apps/frontend/src/components/ui-kits/InputPin.test.tsx
  apps/frontend/src/components/ui-kits/InputPin.tsx
  apps/frontend/src/components/ui-kits/Modal.test.tsx
  apps/frontend/src/hooks/useInquiryAccount.test.tsx
  apps/frontend/src/hooks/useInquiryAccount.tsx
  apps/frontend/src/hooks/useWithdraw.test.tsx
  apps/frontend/src/hooks/useWithdraw.tsx
  apps/frontend/src/services/apolloWrapper.tsx
  apps/frontend/src/utils/formatApolloError.test.ts
  apps/frontend/src/utils/formatApolloError.ts
  pnpm-lock.yaml
Due: eslint --max-warnings=0, prettier --check

feat: Playwright e2e test
  .github/workflows/playwright.yml
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/common/health/health.controller.ts
  apps/backend/src/common/health/health.module.ts
  apps/playwright/.gitignore
  apps/playwright/package.json
  apps/playwright/playwright.config.ts
  apps/playwright/tests/my-atm.spec.ts
  apps/playwright/tests/withdraw.spec.ts
  package.json
  pnpm-lock.yaml
Due: eslint --max-warnings=0, prettier --check

feat: docker & setup script
  apps/backend/.env.example
  apps/backend/datasource.ts
  apps/frontend/.env.example
  docker/docker-compose.yml
  docker/e2e-init-db.sql
  package.json
  setup.sh
Due: eslint --max-warnings=0, prettier --check

feat: github workflow
  .github/workflows/ci.yml
  .github/workflows/playwright.yml
Due: prettier --check

fix: add missing env
  .github/workflows/ci.yml
  apps/backend/.env.example
Due: prettier --check

fix: Ci pipeline
  .github/workflows/ci.yml
Due: prettier --check

fix: Install browser deps & hide sql query log
  apps/backend/.env.example
  apps/playwright/package.json
Due: prettier --check

fix: add deps of browser as well
  apps/playwright/package.json
Due: prettier --check

fix: test only on chrome
  apps/playwright/playwright.config.ts
Due: eslint --max-warnings=0, prettier --check

chore: playwright close webServer when tests are done
  apps/playwright/playwright.config.ts
Due: eslint --max-warnings=0, prettier --check

feat: recommended extension & fix types/node warning on playwright package
  .vscode/extensions.json
  apps/playwright/tsconfig.json
Due: prettier --check

fix: backend test coverage output folder incorrect
  apps/backend/jest.common.config.js
Due: none

feat: Add .nvmrc & README.md file
  .nvmrc
  README.md
  apps/backend/README.md
Due: prettier --check

feat: frontend responsive & add flow video
  README.md
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/CardButton.tsx
  apps/frontend/src/components/WithdrawModal.tsx
  apps/frontend/src/components/ui-kits/Button.tsx
  apps/frontend/src/components/ui-kits/Input.tsx
  apps/frontend/src/components/ui-kits/InputPin.tsx
  apps/frontend/src/components/ui-kits/Modal.tsx
  desktop.png
  mobile.png
Due: eslint --max-warnings=0, prettier --check

chore: readme incorrect project name in example
  README.md
Due: prettier --check
